*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hover-color: #2196f3;
}

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.flexbox {
  display: flex;
  align-items: center;
}

/* хедер */

.header {
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* display: inline-block; */
}

.logo-item {
  margin-right: 93px;
}

.logo-first-part {
  color: #2196f3;
}
/*site nav */

.navigation {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--hover-color);
}

.header-current {
  color: var(--hover-color);
  position: relative;
}

.header-current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  height: 4px;
  width: 100%;
  display: block;
  background-color: var(--hover-color);
  border-radius: 2px;
}

/* AUTH NAV */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav-link {
  align-items: center;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--hover-color);
}

.auth-nav > .item:not(:first-child) {
  margin-left: 50px;
}

.auth-nav-item {
  color: #757575;
}

.envelope,
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* main */

/* HERO */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  width: 696px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

/* feature */

.feature-list {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-item:not(:first-child) {
  margin-left: 30px;
}

.feature-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

.feature-thumb {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WORK */

.work-list {
  display: flex;
  align-items: center;
  position: relative;
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.section-work.section {
  padding-top: 0;
}

.work-label {
  display: flex;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

/* OUR TEAM */

.team-list {
  display: flex;
  align-items: center;
}

.team-item {
  background-color: var(--primary-background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:first-child) {
  margin-left: 30px;
}

.teammates-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

.our-team {
  background-color: var(--secondary-background-color);
}

.teammates-position {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammates-list {
  display: flex;
  justify-content: center;
}

.teammates-item {
  width: 44px;
  height: 44px;
}

.teammates-item + .teammates-item {
  margin-left: 10px;
}

.teammates-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.teammates-link:focus,
.teammates-link:hover {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.social-icons {
  fill: currentColor;
}

/* CLIENTS */
.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.clients-link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

/* footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-second-part {
  color: white;
}

.footer-address {
  margin-top: 20px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: var(--hover-color);
}

.address-nav {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav:focus,
.address-nav:hover {
  color: var(--hover-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

/* JOIN US */

.join-us {
  margin-left: 70px;
}

.join-us-list {
  display: flex;
}

.join-us-item {
  width: 44px;
  height: 44px;
  display: flex;
}

.join-us-item + .join-us-item {
  margin-left: 10px;
}

.join-us-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us-link:hover,
.join-us-link:focus {
  background-color: var(--hover-color);
}

.join-us-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icon {
  fill: #ffffff;
}

/* SUBSCRIBE */

.subscribe {
  margin-left: 93px;
}

.subscribe-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-button {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  padding: 10px 28px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  align-items: center;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 10px;
}

/* portfolio */

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:focus,
.portfolio-button:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-item:not(:first-child) {
  margin-left: 8px;
}

.project-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -30px;
  margin-bottom: -30px; */
}

.gallery-item {
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 370px;
}

.gallery-item:nth-child(3n + 3) {
  margin-right: 0;
}

.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.description-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* overlay */

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-description,
.portfolio-link:focus .overlay-description {
  transform: translateY(-100%);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation-name: backgroundmodal;
  animation-duration: 3000ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  animation: none;
  transform: rotate(90deg) scale(2);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@keyframes backgroundmodal {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #2196f3;
  }

  100% {
    background-color: greenyellow;
  }
}
